<div class="col-md-6 col-md-offset-3 recipe login">
  <h1 class="text-center">Din Din</h1>
  <p>Din Din was created by Matt Petrie using Ruby on Rails and Backbone.js. You can view the source code on <%= link_to "Github", "http://www.github.com/mattpetrie/dindin" %>.</p>
  <p><%= link_to "Click here", "http://www.mattpetrie.io" %> to view Matt's other projects or to get in touch.</p>
</div>
