<div class="recipe-tile">
  <% if(recipe.escape('large_image_url')){ %>
    <img src="<%= recipe.escape('large_image_url') %>" />
  <% }else{ %>
    <img src="<%= recipe.escape('small_image_url') %>" />
  <% } %>
  <div class="caption_title">
    <h5><%= recipe.escape('title') %></h5>
  </div>
</div>