<div class="caption">
    <img class="caption__media" src="<%= recipe.escape('small_image_url') %>" />
    <div class="caption__overlay">
        <h5 class="caption__overlay__title"><%= recipe.escape('title') %></h5>
        <p class="caption__overlay__content"><%= recipe.escape('ingredients')%></p>
    </div>
</div>