<h1 class="text-center">Recipes</h1>
<ul>
  <% recipes.each(function(recipe) { %>
    <li><a href="#/recipes/<%= recipe.id %>"><%= recipe.escape('title') %></a></li>
  <% }); %>
  <li><a href="#/recipes/new">add new recipe</a></li>
</ul>
