<h1>Search for Recipes</h1>
<hr>
<h3>Find Recipes Using:</h3>
<label>Selected Ingredients:</label>
<ul class="ingredient-list selected-ingredients ing-sort"></ul>
<ul class="ingredient-selector-box sortable"></ul>
<h3>Matching Recipes:</h3>
<hr>
<ul class="recipe-list sortable"></ul>