<div class="row">
  <div class="col-md-12">
    <h1>Search for Recipes</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4>Find Recipes Using:</h4>
    <hr>
    <label>Selected Ingredients:</label>
    <ul class="selected-ingredients ing-sort well"></ul>
    <ul class="ingredient-selector-box sortable"></ul>
  </div>
  <div class="col-md-6">
    <h4>Matching Recipes:</h4>
    <hr>
    <div class="recipe-matches"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <p class='text-center small'>Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a></p>
  </div>
</div>