<h1>Search for Recipes</h1>
<hr>
<h3>Find Recipes Using:</h3>
<div class="ingredient-selector-box"></div>
<form id="recipe-search-form">
  <input type="submit" value="Search" class="btn btn-lg btn-primary pull-right">
</form>
<h3>Matching Recipes:</h3>
<hr>
<ul class="recipe-list"></ul>