<div class="row">
  <div class="col-md-12">
    <h2>Search for Recipes</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6 pull-left">
    <label>Selected Ingredients:</label>
    <ul class="selected-ingredients ing-sort well">
    </ul>
  </div>
  <div class="col-md-6 pull-right">
    <ul class="ingredient-selector-box sortable"></ul>
  </div>
  <div class="col-md-6 pull-left">
    <hr>
    <h4>Matching Recipes:</h4>
    <div id="loading"></div>
    <div class="recipe-matches"></div>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <hr>
    <p class='text-center small'>Recipe search powered by <a href='http://www.yummly.com/recipes'><img alt='Yummly' src='http://static.yummly.com/api-logo.png'/></a></p>
  </div>
</div>