/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url(http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,300);
$font-family-sans-serif: 'Open Sans', sans-serif;
$display-font: 'Pacifico', cursive;
$main-color: #5A966E;
$navbar-default-bg: darken($main-color, 10%);
$navbar-default-color: white;
$navbar-default-link-color: white;
@import "bootstrap";

body{
  background-color: $main-color;
}

.navbar-brand{
  font-family: $display-font;
  text-shadow: 1px 1px 0 #666;
  font-size: 36px;
}

.btn {
  font-family: $display-font;
}

.recipe{
  background-color: white;
  border: 3px solid #eee;
  border-radius: 5px;
  padding: 10px;
  h1{
    text-align: center;
  }
}

.recipe-show{
  min-height: 600px;
}

#selected-ingredients{
  border: thin solid #eee;
  min-height: 50px;
}

.ingredient-pane{
  border: thin solid #eee;
  min-height: 50px;
  border-radius: 5px;
  padding: 10px;
}