<h3>New Ingredient</h3>
<hr>
<form id="new-ingredient-form">
  <label for="ingredient-name">Name:</label>
  <input type="text" name="ingredient[name]" id="ingredient-name" placeholder="Ingredient name" class="form-control"><br>
  <label for="ingredient-category">Category:</label>
  <input type="text" name="ingredient[category]" id="ingredient-category" placeholder="Ingredient category" class="form-control"><br>
  <input type="submit" value="Create Ingredient" class="btn btn-lg btn-primary pull-right">
</form>