<label for="ingredient-search">Search:</label>
<div class="input-group">
  <input type="text" id="ingredient-search" placeholder="start typing an ingredient name here" class="form-control">
  <span class="input-group-btn">
    <button class="btn btn-primary">add new ingredient</button>
  </span>
</div>
</div>
<label>Choose Ingredients:</label>
<ul class='ingredient-list ing-sort well'>
</ul>

