<label>Selected Ingredients:</label>
<ul id="selected-ingredients"></ul>
<label for="ingredient-search">Search:</label>
<input type="text" id="ingredient-search" placeholder="start typing and ingredient name here" class="form-control">
<label>Choose Ingredients:</label>
<ul class='ingredient-list'>
</ul>
