<label for="ingredient-search">Search:</label>
<input type="text" id="ingredient-search" placeholder="start typing an ingredient name here" class="form-control">
<label>Choose Ingredients:</label>
<ul class='ingredient-list ing-sort'>
</ul>
