<div class="ingredient-tile <%= tileColor %>">
  <h3 class="ingredient-tile-name"><%= ingredient.escape('name') %></h3>
  <p class="ingredient-tile-category small"><%= ingredient.escape('category') %></p>
</div>